

.categoty-meubilair-rgt-vdo{
	width:50.72%;
	float: left;
	position: relative;
	order:1;
} 
.refDetailsSlider-lft .video-play-main,
.refDetailsSlider-rgt .video-play-main,
.categoty-meubilair-rgt-vdo .video-play-main{
	position: relative;
	cursor: pointer;
}
.refDetailsSlider-lft .video-play-main a img,
.refDetailsSlider-rgt .video-play-main a img,
.categoty-meubilair-rgt-vdo .video-play-main a img {
	width: 100%;
}
.refDetailsSlider-lft .video-play-main a i,
.refDetailsSlider-rgt .video-play-main a i,
.categoty-meubilair-rgt-vdo .video-play-main a i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 3;
	width: 78px;
	height: 78px;
	display: inline-block;
	vertical-align: baseline;
}
.refDetailsSlider-lft .video-play-main a,
.refDetailsSlider-rgt .video-play-main a,
.categoty-meubilair-rgt-vdo .video-play-main a{
	position: relative;
	cursor: pointer;
	display: block;
	overflow:hidden;
}
.refDetailsSlider-lft .video-play-main a:after,
.refDetailsSlider-rgt .video-play-main a:after,
.categoty-meubilair-rgt-vdo .video-play-main a:after{
	content: '';
	position: absolute;
	opacity: 1;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.refDetailsSlider-lft .video-play-main a:hover:after,
.refDetailsSlider-rgt .video-play-main a:hover:after,
.categoty-meubilair-rgt-vdo .video-play-main a:hover:after{
	opacity: .4;
	background-color: #000;
}
.refDetailsSlider-lft .img-zoom > span,
.refDetailsSlider-rgt .img-zoom > span,
.categoty-meubilair-rgt-vdo .img-zoom > span{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	min-height: 625px;
	display: block;
	height: 100%;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#sub-cat-meubilair-sec .categoty-meubilair-rgt-vdo .img-zoom > span{
	min-height: 480px;
}
.refDetailsSlider-lft .img-zoom > span,
.refDetailsSlider-rgt .img-zoom > span{
	min-height: 672px;
}
.refDetailsSlider-lft .img-zoom:hover > span,
.refDetailsSlider-rgt .img-zoom:hover > span,
.categoty-meubilair-rgt-vdo .img-zoom:hover > span{
	transform: scale(1.03);
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
}

.categoty-meubilair-innr{
	padding:60px 0 70px;
}
.categoty-meubilair-two-part{
	display: flex;
	align-items: center;
}
.categoty-meubilair-lft-des{
	width:49.28%;
	float: left;
	padding-left: 115px;
	padding-top: 35px;
	padding-bottom: 35px;
	order: 2;
}
.categoty-meubilair-lft-des h1{
	font-weight: 200;
	line-height: 60px;
	text-transform: uppercase;
	color: #0C1421;
	margin-bottom: 35px;
}
.categoty-meubilair-lft-des h1 span{
	font-weight: 300;
}
.categoty-meubilair-full-des p,
.categoty-meubilair-lft-des p{
	color: #3A3A3A;
	margin-bottom: 30px;
}
.categoty-meubilair-lft-des a {
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0C1421;
    border: 2px solid #0C1421;
    box-sizing: border-box;
    padding: 17px 32px;
    margin-top: 17px;
}
.categoty-meubilair-lft-des span{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding-right:22px;
}
.categoty-meubilair-lft-des a span:after{
	content:"";
	position: absolute;
	top:0;
	right: 0;
	background:url(../images/category-next.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width: 14px;
	height: 14px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
/*.categoty-meubilair-lft-des a:hover{
	background: #0C1421;
	color:#fff;
}*/
.categoty-meubilair-lft-des a:hover span:after{ 
	top:4px;
}
.categoty-meubilair-full-des {
    padding: 46px 0 8px;
}
.catMeubilairSlider-wrp{
	padding-bottom: 98px;
}
.catMeubilairSlider{
	margin-left: -12px;
	margin-right: -12px;
}
.catMeubilairSlider .catMeubilairSlider-item{
	width:25%;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}
.catMeubilairSlider-bg-wrp{
	overflow:hidden;
}
.catMeubilairSlider-bg{
	min-height: 325px;
	position: relative;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.catMeubilairSlider-bg-wrp:hover .catMeubilairSlider-bg{
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.refDetailsSlider .slick-prev.slick-arrow,
.catMeubilairSlider .slick-prev.slick-arrow {
	background:url(../images/cat-prev-arrow.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:48px;
	height: 48px;
	left: -65px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.refDetailsSlider .slick-next.slick-arrow,
.catMeubilairSlider .slick-next.slick-arrow {
	background:url(../images/cat-next-arrow.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:48px;
	height: 48px;
	right: -65px;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;	
}
.refDetailsSlider .slick-prev.slick-arrow{
	left: -78px;	
}
.refDetailsSlider .slick-next.slick-arrow{
	right: -78px;	
}
.refDetailsSlider .slick-prev.slick-arrow:hover,
.catMeubilairSlider .slick-prev.slick-arrow:hover{
	background:url(../images/cat-prev-arrow-ho.svg)no-repeat; 
}
.refDetailsSlider .slick-next.slick-arrow:hover,
.catMeubilairSlider .slick-next.slick-arrow:hover {
	background:url(../images/cat-next-arrow-ho.svg)no-repeat; 
}
.refDetailsSlider .slick-prev::before, 
.refDetailsSlider .slick-next::before, 
.catMeubilairSlider .slick-next::before,
.catMeubilairSlider .slick-prev::before {
    content: none;
    display: none;
}
.subcat-meubilair-grd-sec{
	padding: 80px 0;
	background: #F7F7F7;
	margin-bottom: 1px;
}
.subcat-meubilair-grd-head {
	text-align: center;
}
.subcat-meubilair-grd-head h2{
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #0C1421;
}
.subcat-meubilair-grd-head p{
	font-size: 18px;
	color: #3A3A3A;
	max-width: 1110px;
	margin: 0 auto 12px;
}
.subcat-meubilair-grd-main > ul{
	margin-right: -12px;
	margin-left: -12px;
}
.subcat-meubilair-grd-main > ul > li{
	width:25%;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 25px;
}
.subcat-meubilair-grd-main > ul > li:nth-child(4n+1){
	clear: left;
}
.subcat-meubilair-grd-main .subcat-meubilair-grd{
	background: #fff;
	border-radius: 4px;
}
.subcat-meubilair-grd .subcat-meubilair-grd-bg-wrp{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.subcat-meubilair-grd img{
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.subcat-meubilair-grd:hover img{
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
}
.subcat-meubilair-grd-des{
	padding: 3px 18px 45px;
	position: relative;
}
.subcat-meubilair-grd-des h6{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #0C1421;
	margin-bottom: 7px;
}
.subcat-meubilair-grd-des h6 a{
	color: #0C1421;
}
.subcat-meubilair-grd-des h6:hover a{
	color: #EB1C23;
}
.subcat-meubilair-grd-des p{
	font-size: 12px;
	line-height: 20px;
	color: #8E8E8E;
	margin-bottom: 15px;
}
.subcat-meubilair-grd-des > a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #EB1C23;
	padding-right: 40px;
	position: absolute;
	left:18px;
	bottom: 22px;
}
.subcat-meubilair-grd-des > a:after{
	content:"";
	position: absolute;
	top:-1px;
	right: 0;
	background:url(../images/subcat-meubilair-grd-lnc.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 20px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.subcat-meubilair-grd-des > a:hover:after{
	right: -4px;	
}
.subcat-meubilair-grd-lnc-wrp{
	text-align: center;
	padding-top: 25px
}
a.subcat-meubilair-grd-lnc{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #0C1421;
	border: 2px solid #0C1421;
	padding: 15px 40px;
}
a.subcat-meubilair-grd-lnc:hover{
	color: #fff;
	background: #0C1421;
}
.sub-cat-request-price{
	position: relative;
	padding: 70px 400px 55px 90px;
	margin-bottom: 1px;
	color: #fff;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.ftr-top-newsletter-head h3,
.sub-cat-request-price h3{
	font-weight: 700;
	font-size: 36px;
	line-height: 60px;
	text-transform: uppercase;
}
.sub-cat-request-price p{
	font-size: 22px;
}
.sub-cat-request-price > a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #0C1421;
	padding: 22px 30px;
	position: absolute;
	right: 90px;
	top:50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sub-cat-request-price > a span{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding-right: 70px;
}
.sub-cat-request-price > a span:after{
	content: '';
	position: absolute;
	top:-1px;
	right: 0;
	background:url(../images/sub-cat-req-next.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 20px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.sub-cat-request-price > a:hover span:after{
	right: -5px;
}
#sub-cat-meubilair-sec .categoty-meubilair-innr {
    padding: 72px 0 15px;
}
#sub-cat-meubilair-sec .catMeubilairSlider-wrp{
	padding-bottom: 25px;
}



.subcat-meubilair-grd-sec.subcat-meubilair-grd-sec-new .fb-proover-categories{
	padding-top: 30px;
	padding-bottom: 40px;
}




/*
----- Responsive ------
*/

@media(max-width: 1599px){
	.catMeubilairSlider .slick-prev.slick-arrow {
	    left: 0;
		top: 115%;
	}
	.catMeubilairSlider .slick-next.slick-arrow {
		right: 0;
		top: 115%;
	}
	.refDetailsSlider .slick-prev.slick-arrow{
		left: 0;
		top: 112%;
	}
	.refDetailsSlider .slick-next.slick-arrow{
		right: 0;
		top: 112%;
	}
	.catMeubilairSlider-wrp,
	#sub-cat-meubilair-sec .catMeubilairSlider-wrp {
		padding-bottom: 110px;
	}
	.refDetailsSlider.slick-dotted.slick-slider,
	.catMeubilairSlider.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.refDetailsSlider .slick-dots,
	.catMeubilairSlider .slick-dots {
		bottom: 0;
		top: 110%;
	}
	.refDetailsSlider .slick-dots,
	.catMeubilairSlider .slick-dots {
		bottom: 0;
		top: 110%;
	}	
	.refDetailsSlider .slick-dots li,
	.catMeubilairSlider .slick-dots li{
		background-image: url(../images/black-pagi.svg);
		background-size: 18px 18px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.refDetailsSlider .slick-dots li,
	.catMeubilairSlider .slick-dots li{
		clear: none!important;
	}
	.refDetailsSlider .slick-dots li,
	.refDetailsSlider .slick-dots li button,
	.refDetailsSlider .slick-dots li button:before,
	.catMeubilairSlider .slick-dots li,
	.catMeubilairSlider .slick-dots li button,
	.catMeubilairSlider .slick-dots li button:before{
		width: 18px;
		height: 18px;
		padding: 0;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.refDetailsSlider .slick-dots li button:before,
	.catMeubilairSlider .slick-dots li button:before{
		content: "";
	}

	.refDetailsSlider .slick-dots li.slick-active,
	.refDetailsSlider .slick-dots li:hover,
	.catMeubilairSlider .slick-dots li.slick-active,
	.catMeubilairSlider .slick-dots li:hover{
		background-image: url(../images/orange-pagi-active.svg);
		background-size: 18px 18px;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 10px;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}	
}


@media(max-width: 1199px){
	.categoty-meubilair-lft-des {
	    padding-left: 60px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.subcat-meubilair-grd-main > ul {
	    margin-right: -7px;
	    margin-left: -7px;
	}
	.subcat-meubilair-grd-main > ul > li {
	    padding-left: 7px;
	    padding-right: 7px;
	    margin-bottom: 15px;
	}
	.sub-cat-request-price p br{
	    display: none;
	}	
	.refDetailsSlider-lft .img-zoom > span {
	    min-height: 500px;
	}
}

@media(max-width: 991px){
	.categoty-meubilair-lft-des {
	    padding-left: 25px;
	    padding-top: 20px;
	}
	.categoty-meubilair-lft-des h1 {
	    line-height: 40px;
	    margin-bottom: 20px;
	}
	.categoty-meubilair-full-des p, 
	.categoty-meubilair-lft-des p {
	    margin-bottom: 20px;
	}
	.categoty-meubilair-lft-des a {
	    margin-top: 10px;
	}
	.categoty-meubilair-innr {
	    padding: 50px 0 40px;
	}
	#sub-cat-meubilair-sec .categoty-meubilair-innr {
	    padding: 50px 0 15px;
	}
	.subcat-meubilair-grd-main > ul > li {
	    width: 50%;
	}
	.subcat-meubilair-grd-main > ul > li:nth-child(4n+1) {
	    clear: initial;
	}
	.subcat-meubilair-grd-main > ul > li:nth-child(2n+1) {
	    clear: left;
	}
	.subcat-meubilair-grd-sec {
	    padding: 45px 0;
	}
	.subcat-meubilair-grd-head h2 {
	    font-size: 30px;
	    line-height: 35px;
	}	
	.subcat-meubilair-grd-head p {
	    font-size: 16px;
	}
	.sub-cat-request-price {
	    padding: 55px 335px 50px 50px;
	}
	.sub-cat-request-price > a {
	    right: 50px;
	}
	.sub-cat-request-price h3 {
	    font-size: 30px;
	    line-height: 40px;
	}
	.sub-cat-request-price p {
	    font-size: 20px;
	}
	.refDetailsSlider-lft .img-zoom > span {
	    min-height: 358px;
	}	
	.categoty-meubilair-rgt-vdo .img-zoom > span {
	    min-height: 560px;
	}
}

@media(max-width: 767px){
	.categoty-meubilair-two-part {
	    display: block;
	}	
	.categoty-meubilair-rgt-vdo {
	    width: 100%;
	}
	.categoty-meubilair-lft-des {
	    width: 100%;
	    padding-left: 0;
	}
	.subcat-meubilair-grd-head h2 {
	    font-size: 25px;
	    line-height: 30px;
	}
	.ftr-top-newsletter-head h3,	
	.sub-cat-request-price h3 {
	    font-size: 25px;
	    line-height: 35px;
	}	
	.sub-cat-request-price p {
	    font-size: 18px;
	}
	.sub-cat-request-price {
	    padding: 45px 30px 50px;
	    text-align: center;
	}
	.sub-cat-request-price > a {
	    position: static;
	    margin-top: 15px;
	    transform: initial;
	}
	.refDetailsSlider-lft .img-zoom > span {
	    min-height: 300px;
	}
	.refDetailsSlider .slick-prev.slick-arrow,
	.refDetailsSlider .slick-next.slick-arrow {
	    top: 108%;
	}
	.refDetailsSlider .slick-dots{
	    bottom: 0;
	    top: 106%;
	}
	.categoty-meubilair-lft-des {
	    padding-bottom: 0;
	}

}

@media(max-width: 639px){
/*	.catMeubilairSlider .slick-next.slick-arrow:hover,
	.catMeubilairSlider .slick-prev.slick-arrow:hover,
	.catMeubilairSlider .slick-next.slick-arrow,
	.catMeubilairSlider .slick-prev.slick-arrow {
	    width: 38px!important;
	    height: 38px!important;
	}*/
}

@media(max-width: 575px){
	.subcat-meubilair-grd-main > ul > li {
	    width: 100%;
	}
	.subcat-meubilair-grd-main > ul > li:nth-child(2n+1) {
	    clear: initial;
	}
	.subcat-meubilair-grd-main .subcat-meubilair-grd {
		max-width: 420px;
		margin: 0 auto;
	}
	.catMeubilairSlider-bg {
	    min-height: 280px;
	}
	a.subcat-meubilair-grd-lnc {
		display: block;
	    max-width: 420px;
	    margin: 0 auto;
	}
	.categoty-meubilair-rgt-vdo .img-zoom > span {
	    min-height: 450px;
	}
	#sub-cat-meubilair-sec .categoty-meubilair-rgt-vdo .img-zoom > span {
	    min-height: 400px;
	}
	.subcat-meubilair-grd-sec.subcat-meubilair-grd-sec-new .fb-proover-categories{
		padding-bottom: 20px;
	}
}

@media(max-width: 479px){
	.categoty-meubilair-lft-des h1 {
	    line-height: 35px;
	    margin-bottom: 15px;
	}
	.subcat-meubilair-grd-head h2 {
	    font-size: 22px;
	    line-height: 28px;
	}
	.sub-cat-request-price {
	    padding: 45px 10px 50px;
	    text-align: center;
	}
	.refDetailsSlider-lft .video-play-main a i, 
	.categoty-meubilair-rgt-vdo .video-play-main a i {
	    width: 60px;
	    height: 60px;
	}
	.ftr-top-newsletter-head h3, 
	.sub-cat-request-price h3 {
	    font-size: 22px;
	    line-height: 30px;
	}
	.categoty-meubilair-rgt-vdo .img-zoom > span {
	    min-height: 350px;
	}
	#sub-cat-meubilair-sec .categoty-meubilair-rgt-vdo .img-zoom > span {
	    min-height: 320px;
	}
	.sub-cat-request-price > a {
	    padding: 22px 20px;
	}
}

@media(max-width: 359px){

}
