/*
-----------------------
-----------------------
*/
.google-map-sec-wrp{
	position: relative;
}
#googlemap{
	height: 440px;
}
.Contact-info-wrp{
	position: absolute;
	left: 0;
	top: 85px;
	z-index: 5;
}
.Contact-info-img{
	float: left;
}
.Contact-info-dsc{
	float: left;
	padding-left: 45px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}
.Contact-info-dsc p{
	margin-bottom: 0;
	line-height: 20px;
}
.Contact-info-dsc h1{
	margin: 0;
	font-weight: 200;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 3px;
}
.Contact-info-dsc span{
	display:block;
	position: relative;
	padding-left: 50px;
	margin-top: 40px;
}
.Contact-info-dsc span a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 36px;
	line-height: 38px;
	font-weight: 200;
	color: #000;
}
.Contact-info-dsc span i{
	position: absolute;
	left: 0;
	top: 0;
}
.Contact-info-dsc span:last-child{
	padding-bottom: 0;
}
.Contact-info-dsc span:last-child i{
	top: 7px;
}
.Contact-info-dsc span a:hover{
	color: #EB1C23;
}
.Contact-info-dsc span:hover:first-of-type i svg{
	fill: #000 !important; 
}
.Contact-info-dsc span:hover:first-of-type i svg,
.Contact-info-dsc span:hover:last-of-type i svg{
	fill: #EB1C23 !important; 
}
/*
----------------------
contact-form-sec-wrp
----------------------
*/
.contact-form-sec-wrp{
	padding-top: 90px;
}
.contac-form-dsc{
	max-width: 1105px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}
.contac-form-dsc h1,
.contac-form-dsc h2{
	margin: 0;
	font-size: 36px;
	line-height: 38px;
	font-weight: 200;
	color: #0C1421;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact-form{
	max-width: 905px;
	width: 100%;
	margin: 0 auto;
}
.contact-form-wrp{
	padding-bottom: 55px;
}
/*
-----------------------
 Contact Form Css
-----------------------
*/
.contact-form .wpforms-form{
	width: 100%;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field{
	width: 100%;
	margin-bottom: 20px;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field .wpforms-field-row{
	clear: both;
	width: 100%;
	overflow: hidden;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field .wpforms-field-row .wpforms-one-half{
	width: 50% !important;
	float: left !important;
	margin-left: 0% !important;
	padding: 0 12px;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field.wpforms-one-half{
	width: 50% !important;
	float: left !important;
	margin-left: 0 !important;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field .wpforms-field-row .wpforms-one-half:first-child{
	padding-left: 0 !important;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field .wpforms-field-row .wpforms-one-half:last-child{
	padding-right: 0 !important;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="text"],
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="email"],
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="number"],
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea{
	width: 100% !important;
	max-width: 100% !important;
	display: block;
	height: 60px !important;
	border: 2px solid #F0F0F0!important;
	box-sizing: border-box !important;
	padding: 10px 18px !important;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 16px;
	line-height: 18px;
	color: #B7B7B7;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input{
	border-color: #FF5C26!important;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder { /* Firefox 18- */
  color: #B7B7B7;
  opacity: 1;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="text"]:focus,
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="email"]:focus,
.contact-form .wpforms-form .wpforms-field-container .wpforms-field input[type="number"]:focus,
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea:focus{
	border-color: #000 !important;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field textarea{
	height: 172px !important;
	resize: none;
}
.contact-form label.wpforms-field-label{
	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 14px !important;/* identical to box height */
	text-transform: uppercase;
	color: #515357;
	margin: 0;
	margin-bottom: 12px !important;
}
.contact-form div.wpforms-container-full .wpforms-form .wpforms-field{
	padding: 0 !important;
}
.contact-form .wpforms-submit-container button[type="submit"],
.contact-form .wpforms-submit-container input[type="submit"]{
    width: 270px;
    height: 60px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #fff !important;
    outline: none !important;
    background: #EB1C23 !important;
    box-sizing: border-box !important;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    display: table;
    padding-left: 30px;
    padding-right: 30px;
}
.contact-form .wpforms-submit-container button[type="submit"]:after{
	content: "";
	position: absolute;
	right: 30px;
	top: 22px;
	background-image: url(../images/gallery-arry-icon.svg);
	background-repeat: no-repeat;
	background-size: 20px 17px;
	width: 20px;
	height: 17px;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.contact-form .wpforms-submit-container button[type="submit"]:hover:after{
	right: 25px;
}
.contact-form .wpforms-submit-container .wpforms-submit:hover{
	background-color: #fd010b !important;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.contact-form div.wpforms-container-full .wpforms-form .wpforms-submit-container{
	padding-top: 0 !important;
}
.contact-form div.wpforms-container-full{
	margin-bottom: 0 !important;
}

.contact-form div.wpforms-container-full .wpforms-form label.wpforms-error{
	font-size: 16px !important;
	line-height: 18px !important;
	color: #FF5C26 !important;
	font-weight: 400 !important;
	padding-top: 10px;
}
.contact-form-offer-btn-wrp{
	border-top: 2px solid #F0F0F0;
	padding: 14px 0;
}
.contact-form-offer-btn{
	max-width: 620px;
	width: 100%;
	margin: 0 auto;
}
.contact-form-offer-btn p{
	float: left;
	font-size: 18px;
	line-height: 20px;
	color: #3A3A3A;
	margin: 0;
	padding-top: 15px;
	padding-right: 30px;
}
.contact-form-offer-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #EB1C23;
	border: 1px solid #EB1C23;
	box-sizing: border-box;
	padding: 17px 58px 17px 24px;
	position: relative;
	font-weight: 700;
	text-transform: uppercase; 
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.contact-form-offer-btn a:after{
	content: "";
	position: absolute;
	right: 18px;
	top: 16px;
	background: url(../images/contact-red-arry.svg);
	background-repeat: no-repeat;
	background-size: 20px 17px;
	width: 20px;
	height: 17px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.contact-form-offer-btn a:hover:after{
	background: url(../images/gallery-arry-icon.svg);
	background-size: 20px 17px;
	right: 15px;
}
.contact-form-offer-btn a:hover{
	background: #fb030d;
	color: #fff;
}
