
.ftr-main-controller{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.ftr-main{
	color: #fff;
	padding-bottom: 38px;
}
.ftr-head{
	padding: 50px 290px 35px 0;
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}
.ftr-head h3{
	font-weight: 200;
	font-size: 36px;
	line-height:40px;
	text-transform: uppercase;
}
.ftr-head p{
	font-size: 18px;
	line-height: 25px;
}
.ftr-head a {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	background: #EB1C23;
	padding: 25px 28px 25px 30px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ftr-head a:hover {
	background: #BF0006;
}
.ftr-head a span{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding-right: 55px;
}
.ftr-head a span:after{
	content:"";
	position: absolute;
	top:0;
	right: 0;
	background:url(../images/ftr-right-angle.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 18px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.ftr-head a:hover span:after{
	right: -5px;
}
.ftr-col-wrp{
	padding-top: 28px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.ftr-col-wrp a,
.ftr-col-wrp span{
	display: inline-block;
	vertical-align: baseline;
	color:#fff;
}
.ftr-col-wrp a:hover{
	color:#EB1C23;
}
.ftr-col{
	float: left;
	padding-right: 15px;
}
.ftr-col li {
    padding-bottom: 25px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}
.ftr-col-1{
	width:42.33%;
}
.ftr-col-2{
	width:18.76%;
	padding-top: 25px;
}
.ftr-col-3{
	width:15.40%;
	padding-top: 25px;
}
.ftr-col-4{
	width:23.51%;
	padding-top: 25px;
}
.ftr-col-4 li span,
.ftr-col-4 li a{
	text-transform: initial;
	font-size: 18px;
	font-weight: 300;
}
.ftr-col-4 li strong{
	display: block;
	text-transform: initial;
	font-size: 18px;
	font-weight: 600;
}
.ftr-col-4 li span{
	display: block;
}

.ftr-social{
	padding-top: 5px;
}
.ftr-social ul li{
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.ftr-social ul li a{
	font-size: 16px;
}
.ftr-social a svg,
.ftr-social a{
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.ftr-social > ul > li > a:hover svg,
.ftr-social > ul > li > a:hover{
	fill:#EB1C23!important;
}
.ftr-btm{
	padding: 36px 0 33px;
}
.ftr-btm-lft{
	float: left;
	width:80%;
}
.ftr-btm-rgt{
	float: left;
	width:20%;
}

.ftr-btm span,
.ftr-btm a{
	color: #929292;
	display: inline-block;
	vertical-align: baseline;
	line-height: 25px;
	font-size: 14px;
}
.ftr-btm a:hover{
	color: #EB1C23;
}
.ftr-btm-lft span p {
    margin: 0;
}
.ftr-btm-lft > span{
	padding-right: 18px;
	vertical-align: top;
}
.ftr-btm-lft ul {
    display: inline-block;
	vertical-align: baseline;
}
.ftr-btm-lft ul li{
	float: left;
    display: inline-block;
	vertical-align: baseline;
	padding-left: 22px;
	padding-right: 18px;
    position: relative;
}
.ftr-btm-lft ul li:after{
	content: "-";
	position: absolute;
	left: 0;
	top:3px;
	color: #929292;
}
.ftr-btm-rgt{
	text-align: right;
}



/*
	ftr-top-newsletter
*/


.ftr-top-newsletter-con{
	padding-bottom: 92px;
}
.ftr-top-newsletter-innr-wrp{
	padding-top:65px;
	border-top: 2px solid #F0F0F0;
}
.ftr-top-newsletter-innr{
	max-width: 1200px;
	margin: 0 auto;
}
.ftr-top-newsletter-head {
	text-align: center;
	padding-bottom: 20px;
}
.ftr-top-newsletter-head h3{
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	text-transform: uppercase;
	color: #0C1421;
}
.ftr-top-newsletter-head p{
	color: #3A3A3A;
	line-height: 22px;
	max-width: 750px;
	margin: 0 auto;
}
.ftr-top-newsletter .from-group:nth-child(1),
.ftr-top-newsletter .from-group:nth-child(2){
	width:38.75%;
	float: left;
	padding-right: 25px;
}
.ftr-top-newsletter .from-group:nth-child(3){
	width:22.5%;
	float: left;
}
.ftr-top-newsletter .from-group input{
	width:100%;
	border: 2px solid #F0F0F0;
	padding: 18px 20px 20px;
}
.ftr-top-newsletter .from-group input:focus{
	border: 2px solid #C4C2C2;
}
.ftr-top-newsletter .from-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #B7B7B7;
	opacity: 1;
}

.ftr-top-newsletter .from-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #B7B7B7;
	opacity: 1;
}

.ftr-top-newsletter .from-group input::-ms-input-placeholder { /* Microsoft Edge */
	color: #B7B7B7;
	opacity: 1;
}

.ftr-top-newsletter .from-group button {
	width: 100%;
	padding: 22px 30px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	background:#EB1C23;
	text-align: left;
	position: relative;
}

.ftr-top-newsletter .from-group button:after {
	content:"";
	position: absolute;
	top:50%;
	right: 33px;
	background:url(../images/ftr-right-angle.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 18px;
	transform: translateY(-50%);
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.ftr-top-newsletter .from-group button:hover:after {
	right: 28px;
}
.ftr-top-newsletter .from-group button:hover{
	background: #BF0006;
}



.ftr-xs-logo{
	text-align: center;
	margin: 40px 0;
}
.ftr-xs-logo a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 230px;
}
.ftr-xs-logo a img{
	width:100%;
}

.ftr-xs-links {
	text-align: center;
}
.ftr-xs-contact span,
.ftr-xs-links span{
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	text-transform: initial;
	display: inline-block;
	vertical-align: baseline;
	padding-right: 25px;
	margin-bottom: 32px;
	position: relative;
	cursor: pointer;
}
.ftr-xs-contact span{
	margin-bottom: 0;
}
.ftr-xs-links span:after{
	content:"";
	position: absolute;
	top:8px;
	right: 0;
	background:url(../images/ftr-xs-top-arrow.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:18px;
	height: 11px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.ftr-xs-links.non-expend span:after{
	top:6px;
	right: 0;
	background:url(../images/ftr-xs-btm-arrow.svg)no-repeat; 
	width:18px;
	height:18px;
}
.ftr-xs-contact {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 15px;
}
.ftr-xs-contact-spn-wrp {
    position: relative;
    display: inline-block;
    padding: 8px 55px 11px;
    border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-bottom: 32px;
}
.ftr-xs-contact-spn-wrp:after{
	content: "";
	position: absolute;
	width: 62%;
	height: 2px;
	background: #fff;
	top:0;
	right: 0;
}
.ftr-xs-contact .ftr-xs-contact-spn-wrp a{
    position: relative;
    display: inline-block;
    padding-right: 30px;
	margin-bottom: 0;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.ftr-xs-contact .ftr-xs-contact-spn-wrp span:after{
	content:"";
	position: absolute;
	top:5px;
	right: 0;
	background:url(../images/ftr-xs-btm-arrow.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:18px;
	height: 18px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}

.ftr-xs-contact.expend span:after{
	top:8px;
	right: 0;
	background:url(../images/ftr-xs-top-arrow.svg)no-repeat; 
	width:18px;
	height:18px;
}
.ftr-col-wrp-xs .ftr-social{
	border-top:1px solid rgba(255, 255, 255, 0.2);
	margin-right: -15px;
	margin-left: -15px;
	text-align: center;
}
.ftr-col-wrp-xs .ftr-social a{
	margin:0 7px;
}
.ftr-xs-links li{
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ftr-xs-links li a{
	color:#fff;
	display: inline-block;
	vertical-align: baseline;
}
.ftr-xs-links li a:hover{
	color:#EB1C23;
}
.ftr-col-wrp-xs .ftr-social {
    padding-top: 39px;
}
.ftr-xs-contact ul{
	display: none;
}
.ftr-xs-contact ul li{
	padding-bottom: 25px;
}
.ftr-xs-contact li span,
.ftr-xs-contact li a{
	text-transform: initial;
	font-size: 18px;
	font-weight: 300;
	padding-right: 0;
}
.ftr-xs-contact li strong{
	display: block;
	text-transform: initial;
	font-size: 18px;
	font-weight: 600;
}
.ftr-xs-contact li span{
	display: block;
}
.ftr-xs-contact li a, 
.ftr-xs-contact li span {
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
}
.xs-ftr-btm-red-lnc-wrp{
	padding-top: 40px;
}
.ftr-btm-xs-gap-con{
	padding-top: 35px;
}
.xs-ftr-btm-red-lnc{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #EB1C23;
	min-height: 33px;
}
.xs-ftr-btm-red-lnc a{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 9px 25px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.xs-ftr-btm-red-lnc a:after{
	content:"";
	position: absolute;
	top:50%;
	right: 25px;
	background:url(../images/xs-ftr-btm-red-lnc.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 22px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}





/*
----- Responsive ------
*/


@media(max-width: 1199px){
	.ftr-col-1{
		width:35%;
	}
	.ftr-col-2{
		width:20%;
	}
	.ftr-col-3{
		width:20%;
	}
	.ftr-col-4{
		width:25%;
	}

}

@media(max-width: 991px){
	.ftr-top-newsletter .from-group:nth-child(1),
	.ftr-top-newsletter .from-group:nth-child(2){
		width:35%;
		padding-right: 20px;
	}
	.ftr-top-newsletter .from-group:nth-child(3){
		width:30%;
	}
	.ftr-top-newsletter-con {
	    padding-bottom: 60px;
	}
	.ftr-head {
	    padding: 50px 0 35px;
	    text-align: center;
	}
	.ftr-head a {
	    position: static;
	    transform: initial;
	    margin-top: 20px;
	}
	.ftr-btm-lft > span{
		display: none;
	}
	.ftr-btm-lft {
	    float: left;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 5px;
	}
	.sm-ftr-copyright{
	    text-align: center;	
	}
	.ftr-btm-rgt {
	    text-align: center;
	    width: 100%;
	    padding-top: 35px;
	}
	.ftr-btm-lft ul li:first-child::after {
	    content: none;
	}
	.ftr-btm-lft ul li:first-child{
	    padding-left: 0;
	}
	.ftr-btm-lft ul li:last-child{
	    padding-right: 0;
	}
	.ftr-col-1{
		width:100%;
		text-align: left;
		padding-bottom: 15px;
	}
	.ftr-col-2{
		width:35%;
	}
	.ftr-col-3{
		width:25%;
	}
	.ftr-col-4{
		width:40%;
	}
	.ftr-btm {
	    padding: 44px 0 40px;
	}	
	.ftr-head h3 {
	    font-size: 28px;
	    line-height: 35px;
	}
	.ftr-col-wrp {
	    padding-left: 110px;
	}
}

@media(max-width: 767px){
	.ftr-top-newsletter .from-group:nth-child(1),
	.ftr-top-newsletter .from-group:nth-child(2){
		width:100%;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.ftr-top-newsletter-con {
	    padding-bottom: 60px;
	}
	.ftr-top-newsletter-con{
	    border-top: 2px solid #F0F0F0;
	}
	.ftr-top-newsletter-innr-wrp {
	    padding-top: 50px;
	    border-top: 0;
	}
	.ftr-top-newsletter .from-group:nth-child(3){
		width:100%;
	}
	.ftr-head h3 {
	    font-size: 25px;
	    line-height: 30px;
	}
	.ftr-top-newsletter-head p {
	    max-width: 450px;
	}
	.ftr-head a {
	    height: 60px;
	    width: 100%;
	    max-width: 330px;
	    padding: 22px 28px 22px 30px;
	}
	.ftr-btm {
	    padding: 36px 0 0;
	}
	

}

@media(max-width: 639px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){
	.ftr-top-newsletter-head h3, 
	.sub-cat-request-price h3 {
	    font-size: 22px;
	    line-height: 27px;
	}
	.ftr-top-newsletter-innr-wrp {
	    padding-top: 35px;
	}
	.ftr-head h3 {
	    font-size: 22px;
	}
}

@media(max-width: 359px){
	.ftr-btm-lft ul li {
	    padding-left: 13px;
	    padding-right: 8px;
	}
	.ftr-btm-rgt {
	    padding-top: 25px;
	}
}









/*
	 home section
*/

.home-feest-buro-sec{
	padding: 120px 0
}
.feest-buro-innr{
	
}
.feest-buro-lft{
	position: relative;
	width:51%;
	float: left;
}
.feest-buro-lft-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.feest-buro-rgt{
	padding: 138px 0 140px 112px;
	width:49%;
	float: left;
}
.party-type-two-grid-sec-wrp .feest-buro-rgt h1,
.feest-buro-rgt h3{
	font-size: 64px;
	font-weight: 200;
	line-height:70px;
	text-transform: uppercase;
	color: #0C1421;
	margin-bottom: 36px;
}
.feest-buro-rgt p {
    color: #3A3A3A;
    margin-bottom: 33px;
}
.feest-buro-rgt a {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #0C1421;
	border: 2px solid #0C1421;
	padding: 18px 50px;
	margin-top: 23px;
}
.feest-buro-rgt a:hover {
	color: #fff;
	background: #0C1421
}
.feest-buro-lft > i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	right: 52px;
	bottom: 22px;
	z-index: 2;
	max-width: 331px;
}
.feest-buro-lft > i > img{
	width: 100%;
}
.home-b2b-lft{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	padding: 107px 40px 100px 60px;
	float: left;
	width:51%;
	color:#fff;
}
.home-b2b-rgt{
	float: right;
	width:49%;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.home-b2b-rgt img{
	width:100%;
	display: none;
}
.home-b2b-lft h3{
	font-weight: 200;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.home-b2b-lft p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 16px;
}
.home-b2b-lft a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #EB1C23;
	min-width: 270px;
	padding: 21px 55px 21px 30px;
	position: relative;
}
.home-b2b-lft a:hover{
	background: #BF0006;
}
.home-b2b-lft a:after{
	content:"";
	position: absolute;
	top:50%;
	right: 30px;
	background:url(../images/ftr-right-angle.svg)no-repeat; 
	background-size: 100% auto; 
	background-position: center center;
	width:20px;
	height: 18px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.home-b2b-lft a:hover:after{
	right: 25px;
}




/*
----- Responsive ------
*/


@media(max-width: 1199px){
	.home-b2b-lft {
	    padding: 70px 30px 70px 40px;
	}
	.feest-buro-lft > span {
	    display: inline-block;
	    vertical-align: baseline;
	    position: absolute;
	    right: 35px;
	    bottom: 18px;
	    z-index: 2;
	    max-width: 220px;
	}
	.feest-buro-rgt {
	    padding: 80px 0 80px 60px;
	}
	.home-feest-buro-sec {
	    padding: 80px 0;
	}

	.party-type-two-grid-sec-wrp .feest-buro-rgt h1,
	.feest-buro-rgt h3{
		font-size: 57px;
		line-height:65px;
	}

}

@media(max-width: 991px){
	.home-b2b-lft {
	    padding: 45px 20px 40px 30px;
	}
	.feest-buro-rgt {
	    padding: 40px 0 50px 30px;
	}
	.home-feest-buro-sec {
	    padding: 50px 0;
	}
	.feest-buro-rgt h1 {
	    line-height: 55px;
	    margin-bottom: 20px;
	}
	.party-type-two-grid-sec-wrp .feest-buro-rgt h1, 
	.feest-buro-rgt h3 {
	    font-size: 55px;
	    line-height: 52px;
	    margin-bottom: 20px;
	}
	.feest-buro-rgt p {
	    margin-bottom: 20px;
	}
	.home-b2b-lft p br{
	   display: none;
	}
}

@media(max-width: 767px){
	.home-b2b-lft {
		padding: 50px 40px 80px 25px;
	    width: 100%;
	}
	.home-b2b-rgt {
		height: 280px;
	    float: left;
	    width: 100%;
	}
	.home-b2b-rgt img{
		display: block;
	    width: 100%;
	}
	.home-b2b-lft h3 {
	    font-size: 30px;
	    line-height: 35px;
	}
	.home-b2b-lft p {
	    font-size: 18px;
	    line-height: 27px;
	}

	.feest-buro-rgt {
	    width: 100%;
	    padding: 45px 0 10px;
	}
	.feest-buro-lft {
	    width: 100%;
	    min-height: 500px;
	}
	.feest-buro-rgt p {
	    margin-bottom: 15px;
	}
	.party-type-two-grid-sec-wrp .feest-buro-rgt h1, 
	.feest-buro-rgt h3 {
	    font-size: 40px;
	    line-height: 45px;
	    margin-bottom: 15px;
	}
	.feest-buro-lft > i {
	    max-width: 290px;
		right: 35px;
	}
	.feest-buro-lft-bg {
	    left: -15px;
	    right: -15px;
	}
}

@media(max-width: 639px){
	.home-b2b-rgt {
		height: 220px;
	}
}

@media(max-width: 575px){
	.feest-buro-rgt {
	    padding: 30px 0 0;+
	}
	.feest-buro-lft {
	    min-height: 400px;
	}
	.feest-buro-lft > i {
		max-width: 220px;
		right: 25px;
		bottom: 18px;
	}
}

@media(max-width: 479px){
	.home-b2b-lft {
		padding: 35px 20px 30px;
	}
	.party-type-two-grid-sec-wrp .feest-buro-rgt h1, 
	.feest-buro-rgt h3 {
	    font-size: 30px;
	    line-height: 35px;
	}
	.home-feest-buro-sec {
	    padding: 40px 0;
	}
	.feest-buro-lft > i {
	    max-width: 190px;
	    right: 15px;
	    bottom: 12px;
	}
	.feest-buro-lft {
	    min-height: 350px;
	}
}

@media(max-width: 359px){
	.home-b2b-lft a {
	    min-width: 240px;
	}
}