
.hdr-topbar{
	background: rgba(247, 247, 247, 0.9);
	
}
.hdr-topbar-lft{
	float: left;
	width: 55%;
}
.hdr-topbar-rgt{
	float: right;
	width: 45%;
}
.hdr-topbar-lft ul li{
	padding-top: 18px;
	padding-bottom: 18px;
}
.hdr-topbar-nav ul li,
.hdr-topbar-tel,
.hdr-topbar-social{
	padding-top: 20px;
	padding-bottom: 18px;
}
.hdr-topbar-tel:hover em svg,
.hdr-topbar-social ul li a:hover em svg{
	fill: #EB1C23!important
}
.hdr-topbar-tel:hover a{
	color: #EB1C23;
}
.hdr-topbar-lft ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 30px;
	position: relative;
}
.hdr-topbar-lft ul li:last-child{
	padding-right: 5px;
	padding-left: 13px;
}
.hdr-topbar-lft ul li:last-child span{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
}
.hdr-topbar-lft ul li:last-child:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: linear-gradient(270deg, #F6F6F6 42.31%, rgba(246, 246, 246, 0) 115.81%);
	-ms-background: linear-gradient(270deg, #F6F6F6 42.31%, rgba(246, 246, 246, 0) 115.81%);
	-webkit-background: linear-gradient(270deg, #F6F6F6 42.31%, rgba(246, 246, 246, 0) 115.81%);
}

.hdr-topbar-date-item{
	position: relative;
	padding-left: 35px;
}
.hdr-topbar-date-item em{
	font-style: normal;
	position: absolute;
	left: 0;
	top: -2px;
}
.hdr-topbar-date-item strong{
	color: #EB1C23;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
}
.hdr-topbar-date-item span{
	color: #37455B;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
	padding-left: 30px;
	position: relative;
}
.hdr-topbar-date-item span:after{
	content: "";
	position: absolute;
	width: 5px;
	height: 2px;
	background: #37455B;
	left: 13px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: 1px;
}


.hdr-topbar-social,
.hdr-topbar-tel,
.hdr-topbar-nav{
	float: right;
}

.hdr-topbar-nav ul{
	margin-left: -13px;
}
.hdr-topbar-nav ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 35px;
	font-weight: 500;
	font-size: 15px;
	line-height: 16px;
}
.hdr-topbar-nav ul li:last-child{
	padding-right: 30px;
}
.hdr-topbar-nav ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #919499;
	letter-spacing: 0.04em;
}
.hdr-topbar-nav ul li a:hover{
	color: #EB1C23;
}

.hdr-topbar-tel{
	padding-left: 108px;
	position: relative;
	padding-right: 28px;
}

.hdr-topbar-tel:before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 43px;
	height: 2px;
	background: #afb1b5;
}
.hdr-topbar-tel em{
	font-style: normal;
	position: absolute;
	left: 75px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: 1px;
}
.hdr-topbar-tel a{
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
	color: #919499;
	position: relative;
	top: -1px;
}
.hdr-topbar-social{
	padding-left: 55px;
	position: relative;
}
.hdr-topbar-social:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 23px;
    height: 2px;
    background: #afb1b5;
}
.hdr-topbar-social ul{
	padding-top: 2px;
}
.hdr-topbar-social ul li,
.hdr-topbar-social ul li a{
	display: inline-block;
	color: #919499;
}
.hdr-topbar-social ul li a{
	vertical-align: baseline;
	font-size: 18px;
}
.hdr-topbar-social ul li:not(:last-child){
	padding-right: 18px;
}

.hdr-topbar-social ul li a:hover{
	color: #EB1C23;
}


.hdr-btmbar{
	padding: 20px 0 15px;
}
.hdr-lft{
	float: left;
	width: 20%;
}
.hdr-rgt{
	float: right;
	width: 80%;
	padding-left: 20px;
}
.logo{
	
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 211px;
	margin-left: -5px;
}
.logo a img{
	width: 100%;
}



nav.main-nav{
	padding-top: 35px;
	float: right;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	display: inline-block;
	vertical-align: baseline;
}
nav.main-nav ul li a{
	display: inline-block;
	vertical-align: baseline;	
}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 13px;
	font-size: 16px;
	line-height: 18px;
	position: relative;
}
nav.main-nav > ul > li:last-child{
	margin-right: 21px;
}
nav.main-nav > ul > li > a{
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #3E4B60;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
}
nav.main-nav > ul > li > a:hover{
	color: #eb1c23;
}
nav.main-nav > ul > li.current-menu-item > a{
	color: #EB1C23;
	font-weight: 700;
}
nav.main-nav > ul > li.current-menu-item{
	position: relative;
}
nav.main-nav > ul > li:after{
	content: "";
	position: absolute;
	right: 11px;
	width: 2px;
	top: 0;
	bottom: 0;
	background: #f58d91;
	opacity: 0;
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	background: #f58d91;
	width: 50%;
	opacity: 0;
}
nav.main-nav > ul > li > a:before{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2px;
	background: #f58d91;
	width: 82%;
	opacity: 0;
}
nav.main-nav > ul > li.current-menu-item:after,
nav.main-nav > ul > li.current-menu-item > a:after,
nav.main-nav > ul > li.current-menu-item > a:before{
	opacity: 1;
}

.hdr-search{
	position: relative;
	float: right;
	padding-top: 42px;
}
.hdr-search button{
	background: transparent;
	padding: 0;
}
.hdr-search input {
    padding: 10px 10px 10px 15px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    opacity: 0;
    background: rgba(247, 247, 247, 0.9);
}
.hdr-search.hdr-search-field-show input {
    width: 375px;
    opacity: 1;
}
.hdr-search button:hover em svg,
.hdr-search.hdr-search-field-show button em svg{
	fill: #EB1C23!important;
}

.main-banner{
	position: relative;
}
.main-bnr-des{
	padding: 175px 0 160px;
	position: relative;
	z-index: 1;
	text-align: center;
	color: #fff;
}
.main-bnr-des span{
	font-weight: 200;
	display: block;
	font-size: 70px;
	line-height: 72px;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.main-bnr-des span strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
}
.main-bnr-des p{
	font-size: 70px;
	line-height: 75px;
	font-weight: 300;
	margin-bottom: 30px;
}
.main-bnr-des a{
	display: inline-block;
	vertical-align: baseline;
	min-width: 208px;
	height: 55px;
	text-align: center;
	color: #fff;
	background: #EB1C23;
	text-transform: uppercase;
	padding: 18px 10px 0;
	font-weight: 700;
}
.main-bnr-des a:hover{
	background: #d50910;
}
.main-bnr-bg{
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important; 
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
a.main-bnr-rgt-btn{
	position: fixed;
	right: 28px;
	top: 145px;
	transform-origin: right;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	background: #EB1C23;
	z-index: 31;
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	padding: 20px 35px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}
a.main-bnr-rgt-btn:hover{
	background: #e7070f;
}

.slick-current .main-bnr-des span{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.slick-current .main-bnr-des p{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;	
}
.slick-current .main-bnr-des a{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;	
}



@media(max-width: 1399px){
	.hdr-topbar{
		font-size: 15px;
	}
	.hdr-topbar-lft ul li{
		padding-right: 15px;
	}
	.hdr-topbar-tel{
		padding-right: 15px;
	}
	.hdr-topbar-social {
	    padding-left: 40px;
	}
	.hdr-topbar-tel{
		padding-left: 80px;
	}
	.hdr-topbar-tel em{
		left: 58px;
	}
	.hdr-topbar-date-item {
	    padding-left: 30px;
	}
	.hdr-topbar-date-item span{
		padding-left: 20px;
	}
	.hdr-topbar-date-item span:after{
		left: 6px;
	}
	.hdr-topbar-nav ul li{
		padding-right: 20px;
	}
}

@media(max-width: 1199px){
	.main-bnr-des span {
	    font-size: 60px;
	    line-height: 62px;
	}
	.main-bnr-des p {
	    font-size: 55px;
	    line-height: 60px;
	}
	.main-bnr-des{
		padding: 125px 0 110px;
	}
	.hdr-topbar-lft{
		display: none;
	}
	.hdr-topbar-rgt{
		width: 100%;
		max-width: 540px;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.hdr-topbar-tel {
	    padding-left: 90px;
	}
	.hdr-topbar-nav ul {
	    margin-left: 0;
	}
	nav.main-nav ul{
		padding-left: 15px;
	}
	nav.main-nav ul > li{
		padding-left: 7px;
		padding-right: 7px;
		font-size: 14px;
    	line-height: 15px;
	}
	nav.main-nav > ul > li.current-menu-item:after{
		right: 7px;
	}
	nav.main-nav ul > li:first-child{
		padding-left: 0;
	}
	nav.main-nav > ul > li:last-child {
	    padding-right: 20px;
	}
	.hdr-btmbar {
	    padding: 15px 0 10px;
	}
	.hdr-search {
	    padding-top: 36px;
	}

}

@media(max-width: 991px){
	.hdr-search,
	.main-nav,.hdr-topbar{
		display: none;
	}
	.hdr-btmbar {
	    padding: 20px 0 25px;
	}
	.hdr-lft{
		width: 50%;
	}

	/*------- xs menu -------*/
	.home-bnr-xs-nav-bar-controller{
		background-color: #EB1C23;
		width: 55px;
		height: 55px;
		position: relative;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);

	}
	.home-bnr-xs-nav-bar-controller > div{
		width: 55px;
		height: 55px;
	}
	.home-bnr-xs-nav-bar-controller .xs-menu-humberger-btn{
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	.xs-popup-main-menu-wrap{
		text-align: left;
		text-transform: capitalize;
		color: #fff;
		padding: 65px 22px 100px;
		display: none;
		overflow-y: scroll;
	    position: fixed;
	    z-index: 100;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    background: #111925;
	    max-width: 300px;
	    width: 100%;
	}
	.xs-nav-bar-controller{
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    background: #fff;
	    z-index: 23;
	}
	.xs-popup-logo{
		padding-bottom: 20px;
	}
	.home-bnr-xs-nav-bar-controller{
		float: right;
	}
	.xs-menu-btn-bar a{
		float: left;
		max-width: 50px;
	}
	.xs-menu-btn-bar a img{
		width: 100%;
	}
	.xs-menu-humberger-btn{
		width: 40px;
		margin: 0 auto;
		cursor: pointer;
	}
	.xs-popup-main-nav ul {
		list-style: none;
		padding: 0;
		text-align: left;
		font-weight: 500;
		color: #fff;
		line-height: 100%;
		font-size: 17px;
		line-height: 19px;
		margin: 0;
		padding-left: 18px;
	}
	.xs-popup-main-nav ul a{
		color: inherit;
		position: relative;
	}
	.xs-popup-main-nav > ul > li{
		padding-bottom: 27px;
	}
	.xs-popup-main-nav ul.sub-menu{
		padding-top: 22px;
		display: none;
		padding-left: 0;
	}
	.xs-popup-main-nav ul.sub-menu li{
		text-transform: capitalize;
		padding-bottom: 10px;
		font-weight: 500;
	}
	.xs-popup-main-nav ul.sub-menu li a{
		font-size: 15px;
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-popup-main-nav ul.sub-menu li:last-child{
		padding-bottom: 0;
	}
	.xs-popup-main-nav li.menu-item-has-children > a:after{
		content: "\f107";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    font-size: 18px;
	    position: absolute;
	    top: 3px;
    	right: -20px;
	}
	.xs-popup-main-nav li.menu-item-has-children > a.sub-menu-expend:after{
		content: "\f106";
	}
	.xs-popup-social{
		padding-top: 18px;
		padding-bottom: 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.xs-popup-social ul li{
		display: inline-block;
		vertical-align: baseline;
		padding: 0 15px;

	}
	.xs-popup-social ul li a{
		color: #fff;
		font-size: 18px;
	}
	.xs-popup-social ul li a:hover{
		color: #EB1C23;
	}
	.hdr-topbar-tel{
		float: none;
		margin-top: 15px;
	}
	.hdr-topbar-tel a{
		color: #fff;
	}
	.hdr-topbar-tel:before{
		background: #fff;
	}
	.hdr-tel-icon-svg{
		fill: #fff!important;
	}
	.xs-popup-info a{
		font-size: 16px;
		color: inherit;
		font-weight: 600;
		padding-left: 20px;
		position: relative;
		margin-bottom: 28px;
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-popup-info a:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/xs-pop-up-tel.png);
		background-repeat: no-repeat;
		width: 18px;
		height: 20px;
		background-size: 18px 20px;
	}
	.xs-menu-popup-close-btn {
		position: fixed;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		text-align: center;
		background: #EB1C23;
		border: 2px solid #EB1C23;
		box-sizing: border-box;
		padding: 10px 10px 4px;
		z-index: 30;
	}
	.xs-popup-color-btn a{
		background: #9fd355;
		color: #fff;
		padding: 12px 13px;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: baseline;
		font-weight: 700;
		letter-spacing: .5px;
	}
	.xs-menu-popup-close-btn span {
		display: block;
		margin-bottom: 5px;
		color: #fff;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		font-weight: 700;
		letter-spacing: .5px;
	}
	body.pop-up-menu-active{
		position: relative;
	}
	body.pop-up-menu-active .body-overlay {
	    z-index: 25;
	    opacity: 1;
	}
	.body-overlay {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background: rgba(0,0,0,.5);
	    z-index: -1;
	    opacity: 0;
	}

}


@media(max-width: 767px){
	.main-bnr-des span {
	    font-size: 50px;
	    line-height: 52px;
	}
	.main-bnr-des p {
	    font-size: 45px;
	    line-height: 50px;
	}
	.main-bnr-des {
	    padding: 110px 0 120px;
	}
}

@media(max-width: 639px){

}
 
@media(max-width: 575px){
	.main-bnr-des p {
	    font-size: 41px;
	    line-height: 50px;
	}
	.main-bnr-des a{
		font-size: 14px;
		line-height: 20px;
	}

}


@media(max-width: 479px){
	.main-bnr-des span {
	    font-size: 45px;
	    line-height: 48px;
	}
	.main-bnr-des p {
	    font-size: 27px;
	    line-height: 37px;
	}
}


@media(max-width: 359px){

}

