/*
---------------------
hm-catagorys-sec-wrp
---------------------
*/
.hm-catagorys-sec-wrp{
	padding-left: 27px;
	padding-right: 27px;
}
.hm-catagory-wrp{
	max-width: 1900px;
	margin: 0 auto;
}
.hm-catagory-wrp ul{
	list-style: none;
	margin: 0 -26px;
	padding: 0;
	overflow: hidden;
	padding-top: 30px;
}
.hm-catagory-wrp ul li {
    width: 20%;
    float: left;
    padding: 0 13px 30px;
}
.hm-catagory-innr{
	position: relative;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 4px 4px;
	background: #FFFFFF;
}
.hm-catagory-wrp ul li:first-child{
	padding-left: 26px;
}
.hm-catagory-wrp ul li:last-child{
	padding-right: 26px;
}
.hm-catagory-img-controller{
	overflow: hidden;
}
.hm-catagory-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	height: 155px !important; 
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-catagory-dsc{
	padding: 0 20px 25px 20px;
	text-align: center;
	background: #FFFFFF;
	position: relative;
	z-index: 11;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 4px 4px;
}
.hm-catagory-dsc span{
	display:block;
	position: relative;
	height: 58px;
}
.hm-catagory-dsc span i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.hm-catagory-dsc span i svg{
	fill: #0C1421 !important;
}
.hm-catagory-wrp ul li:last-child .hm-catagory-dsc span i{
	top: 30%;
}
.hm-catagory-dsc h5{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #0C1421;
	font-weight: 700;
}
.hm-catagory-dsc h5 a{
	color: initial;
	text-decoration: none;
}
.hm-catagory-dsc h5:hover a{
	color: #eb1c23;
}
.hm-catagory-dsc span:last-of-type{
	display: none;
}


/*
-----------------------
hm-service-sec-wrp
-----------------------
*/
.hm-service-sec-wrp{
	padding-top: 40px;
}
.hm-service-wrp{
	padding-bottom: 60px;
	border-bottom: 2px solid #F0F0F0;
}
.hm-service-wrp ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.hm-service-wrp ul li{
	float: left;
	width: 33.3333%;
}
.hm-service-dsc{
	padding-left: 90px;
	padding-right: 65px;
	position: relative;
}
.hm-service-dsc p{
	line-height: 26px;
}
.hm-service-dsc i {
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hm-service-dsc h5{
	margin: 0;
	margin-bottom: 10px;
	font-weight: 700;
	color: #0C1421;
}
/*
------------------------
hm-gallery-post-sec-wrp
------------------------
*/
.hm-gallery-post-sec-wrp{
	padding-top: 90px;
}
.hm-enti-hdr-dsc{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.hm-enti-hdr-dsc h2,
.hm-enti-hdr-dsc h1{
	margin: 0;
	margin-bottom: 12px;
	font-size: 36px;
	line-height: 38px;
	font-weight: 200;
	color: #0C1421;
	text-transform: uppercase;
}
.hm-enti-hdr-dsc h2 strong,
.hm-enti-hdr-dsc h1 strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
}
.hm-enti-hdr-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	border: 2px solid #0C1421;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	color: #0C1421;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 45px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 20px;
}
.hm-enti-hdr-dsc a:hover{
	background: #0c1421;
	color: #fff;
	border-color: #0c1421;
}
/*
------------------------
hm-gallery-post-sec-wrp
------------------------
*/
.hm-gallery-item-top-wrp{
	padding-top: 35px;
	padding-bottom: 60px;
	border-bottom: 1px solid #F0F0F0;;
}
.hm-gallery-item-top-lft{
	width: 48%;
	float: left;
}
.hm-gallery-item-top-rgt{
	width: 52%;
	float: right;
	padding-left: 24px;
}
.hm-gallery-top-lft-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 210px !important;
	position: relative;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-gallery-item-top-lft ul{
	list-style: none;
	margin: -10px -10px;
	padding: 0;
	overflow: hidden;
}
.hm-gallery-item-top-lft ul li{
	float: left;
	width: 50%;
	padding: 10px 10px;
}
.hm-gallery-tp-rgt-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 670px !important;
	position: relative;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

/*
---------------------
hm-single-post-sec-wrp
---------------------
*/
.hm-single-post-sec-wrp{
	padding: 85px 0;
}
.hm-post-title h3{
	margin: 0;
	font-size: 36px;
	line-height: 38px;
	font-weight: 200;
	color: #0C1421;
	text-transform: uppercase;
	padding-left: 115px;
	position: relative;
	margin-bottom: 50px;
}
.hm-post-title h3 strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
}
.hm-post-title h3:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	background: #0C1421;;
	width: 92px;
	height: 4px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hm-single-post-wrp ul{
	list-style: none;
	margin: 0 -11px;
	padding:0;
}
.hm-single-post-wrp ul li{
	float: left;
	width: 25%;
	padding: 0 11px;
}
.hm-single-post-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 208px !important;
	position: relative;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-single-post-img a{
	font-style: normal;
	z-index: 11;
}
/*
----------------------
hm-gallery-btm-sec-wrp
----------------------
*/
.hm-gallery-btm-sec-wrp{
	padding-bottom: 105px;
}
.hm-gallery-btm-lft{
	float: left;
	width: 48%;
}
.hm-gallery-btm-rgt{
	float: right;
	width: 52%;
	padding-left: 24px;
}
.hm-gallery-btm-lft-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 910px !important;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
a.hm-gallery-btm-lft-btn {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 46px;
    line-height: 46px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding: 12px 14px 12px 12px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 11;
    border-right: 3px solid #fff;
}
a.hm-gallery-btm-lft-btn:before,
a.hm-gallery-btm-lft-btn:after{
	content: "";
	position: absolute;
	right: 0;
	background: #fff;
}
a.hm-gallery-btm-lft-btn:after{
	top: 0;
	width: 125px;
	height: 3px;
	background: #fff;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
a.hm-gallery-btm-lft-btn:before{
	bottom: 0;
	width: 205px;
	height: 3px;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
a.hm-gallery-btm-lft-btn:hover:before,
a.hm-gallery-btm-lft-btn:hover:after{
	background: #eb1c24;
}
a.hm-gallery-btm-lft-btn:hover{
	color: #eb1c23;
	border-color: #eb1c23; 
}
.hm-gallery-top-img-wrp ul{
	list-style: none;
	margin: 0 -12px;
	padding: 0;
	overflow: hidden;
}
.hm-gallery-top-img-wrp ul li{
	float: left;
	width: 50%;
	padding: 0 12px;
}
.hm-gallery-top-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 400px !important;
	position: relative;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-gallery-middel-btn {
    background: #EB1C23;
    padding: 20px 40px 20px 60px;
    margin-left: -25px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.hm-gallery-middel-btn a{
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	font-style: normal;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	padding-right: 60px;
	position: relative;
}
.hm-gallery-middel-btn a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 2px;
	width: 20px;
	height: 17px;
	background: url(../images/gallery-arry-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 17px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-gallery-middel-btn a:hover:after{
	right: -5px;
}
.hm-gallery-btm-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 400px !important;
	position: relative;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hm-gallery-btm-lft-item{
	display: none;
}
.hm-gallery-btm-lft-item:first-child{
	display: block;
}
.bannerSlider .bannerSliderItem{
	display: none;
}
.bannerSlider .bannerSliderItem:first-child,
.bannerSlider.slick-initialized .bannerSliderItem{
	display: block;
}

/*
--------------------
Responsive Csss
--------------------
*/
@media(max-width: 1899px){
	.hm-catagory-dsc {
	    padding: 0 15px 25px 15px;
	}
}
@media(max-width: 1799px){
	.hm-catagory-dsc h5{
	    min-height: 40px;
	}
}
@media(max-width: 1399px){
	.hm-catagory-dsc {
	    padding: 0 10px 25px 10px;
	}
	.hm-service-dsc {
	    padding-left: 75px;
	    padding-right: 40px;
	}
	.hm-gallery-middel-btn {
	    padding: 20px 40px 20px 30px;
	}
	.hm-gallery-middel-btn a{
		font-size: 16px;
		line-height: 20px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.hm-catagory-wrp ul li {
	    width: 33.3333%;
	    padding: 0 13px 20px;
	}
	.hm-catagory-wrp ul li:nth-child(3n+1){
		clear: left;
	}
	.hm-service-wrp ul li:last-child .hm-service-dsc{
		padding-right: 0;
	}
	.hm-service-dsc {
	    padding-left: 75px;
	    padding-right: 20px;
	}
	.hm-enti-hdr-dsc {
	    max-width: 800px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	a.hm-gallery-big-btn{
		left: 15px;
		bottom: 15px;
	}
	a.hm-gallery-single-small-btn{
	    padding-right: 30px;
	    left: 15px;
	    bottom: 20px;
	}
	a.hm-gallery-big-btn {
	    font-size: 20px;
	    line-height: 24px;
	}
	.hm-gallery-top-img{
		height: 380px !important;
	}
	.hm-gallery-middel-btn a:after{
		top: 10px;
	}
	a.hm-gallery-btm-lft-btn {
	    font-size: 40px;
	    line-height: 42px;
	    padding: 12px 12px;
	    bottom: 30px;
	    left: 30px;
	}
	.hm-catagory-wrp ul li:nth-child(3){
		padding-right: 26px;
	}
	.hm-catagory-wrp ul li:nth-child(4){
		padding-left: 26px;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.hm-catagory-wrp ul li{
	    width: 50%;
	}
	.hm-catagory-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.hm-catagory-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	.hm-catagory-dsc h5 {
	    min-height: auto;
	}
	.hm-service-wrp ul li{
		width: 50%;
		padding-bottom: 30px;
	}
	.hm-service-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	.hm-service-wrp ul li:last-child{
		padding-bottom: 0;
	}
	.hm-enti-hdr-dsc {
	    max-width: 700px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	a.hm-gallery-small-btn {
	    font-size: 16px;
	    line-height: 20px;
	    padding-right: 30px;
	}
	a.hm-gallery-big-btn {
	    font-size: 21px;
	    line-height: 23px;
	    left: 15px;
		bottom: 15px;
		padding-right: 30px;
	}
	a.hm-gallery-small-btn {
	    font-size: 15px;
	    line-height: 17px;
	    padding-right: 30px;
	    left: 15px;
	    bottom: 15px;
	}
	.hm-gallery-top-lft-img{
		height: 180px !important;
	}
	.hm-gallery-tp-rgt-img{
		height: 582px !important;
	}
	.hm-post-title h3 {
	    font-size: 32px;
	    line-height: 34px;
	    padding-left: 100px;
	}
	.hm-single-post-wrp ul li {
	    width: 50%;
	    padding: 11px 11px;
	}
	.hm-post-title h3:after{
		width: 70px;
	}
	.hm-gallery-btm-lft {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.hm-gallery-btm-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.hm-gallery-middel-btn {
	    margin-left: 0;
	}
	.hm-gallery-middel-btn a:after {
	    top: 2px;
	}
	.hm-gallery-btm-lft-img{
		height: 800px !important;
	}
	.hm-catagory-wrp ul li:nth-child(3){
		padding-right:13px;
		padding-left: 26px;
	}
	.hm-catagory-wrp ul li:nth-child(4){
		padding-left:13px;
		padding-right: 26px;
	}
	.hm-catagory-wrp ul li:nth-child(2){
		padding-right:26px;
	}
	.hm-catagory-wrp ul li:nth-child(5){
		padding-left:26px;
		padding-right: 13px;
	}



}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.hm-catagory-img-controller {
	    display: none;
	}

	.hm-catagory-wrp ul li{
	    width: 100%;
	}
	.hm-catagory-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.hm-catagory-wrp ul li:nth-child(2n+1){
		clear: none;
	}
	.hm-catagory-innr{
		padding: 20px 0;
	}
	.hm-catagory-dsc {
	    display: table;
	    margin: 0 auto;
	    box-shadow: none;
	    background: transparent;
	    padding: 0;
	}
	.hm-catagory-dsc h5 {
	    font-size: 20px;
	    line-height: 22px;
	    float: right;
	    margin-top: 3px;
	}
	.hm-catagory-wrp ul li:nth-child(2) .hm-catagory-dsc h5,
	.hm-catagory-wrp ul li:nth-child(1) .hm-catagory-dsc h5{
		margin-top: 0 !important;
	}
	.hm-catagory-dsc span {
	    position: static;
	    height: auto;
	    padding-right: 20px;
	    float: left;
	}
	.hm-catagory-dsc span i {
	    position: static;
	    transform: none;
	}
	.hm-catagory-wrp ul li:last-child .hm-catagory-dsc span {
	    margin-top: -32px;
	}
	.hm-catagory-wrp ul li{
		padding: 11px 13px 11px;
	}
	.hm-service-dsc {
	    padding-left:15px !important;
	    padding-right:15px !important;
	    text-align: center;
	    max-width: 310px;
	    width: 100%;
	    margin: 0 auto;
	}
	.hm-service-dsc i{
		position: static;
		transform: none;
	}
	.hm-service-dsc h5 {
	    margin-bottom: 15px;
	    margin-top: 15px;
	}
	.hm-service-sec-wrp {
	    padding-top: 25px;
	}
	.hm-service-dsc p {
	    margin-bottom: 0;
	}
	.hm-service-wrp {
	    padding-bottom: 35px;
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.hm-service-wrp ul li:nth-child(2n+1) {
	    clear: none;
	}
	.hm-catagory-wrp ul{
		padding-top: 15px;
	}
	.hm-catagory-wrp ul li:nth-child(5),
	.hm-catagory-wrp ul li:nth-child(4),
	.hm-catagory-wrp ul li:nth-child(3),
	.hm-catagory-wrp ul li:nth-child(2),
	.hm-catagory-wrp ul li:nth-child(1){
		padding: 12px 26px 12px;
	}
	.hm-catagory-wrp ul li:nth-child(5){
		padding-bottom: 24px;
	}
	


	/*
----------------------
 Pagination css
----------------------
*/
    #HmServiceSlider > li{
    	display: none !important;
    } 
    #HmServiceSlider > li:first-child{
    	display: block !important;
    } 
    #HmServiceSlider.slick-initialized > li{
    	display: block !important;
    } 
	#HmServiceSlider.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	#HmServiceSlider .slick-dots {
			position: static;
			margin-top: 0;
	}
	#HmServiceSlider .slick-dots li{
		background-image: url(../images/gray-pagi.svg);
		background-size: 18px 18px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;

	}
	#HmServiceSlider .slick-dots li{
		clear: none!important;
	}
	#HmServiceSlider .slick-dots li,
	#HmServiceSlider .slick-dots li button,
	#HmServiceSlider .slick-dots li button:before{
		width: 18px;
		height: 18px;
		padding: 0;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#HmServiceSlider .slick-dots li button:before{
		content: "";
	}
	#HmServiceSlider .slick-dots li:hover{
		background-image: url(../images/gray-pagi.svg);
	}
	#HmServiceSlider .slick-dots li.slick-active{
		background-image: url(../images/orange-pagi-active.svg);
		background-size: 18px 18px;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 10px;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	#HmGalleryItemTopLft > li{
    	display: none !important;
    } 
    #HmGalleryItemTopLft > li:first-child{
    	display: block !important;
    } 
    #HmGalleryItemTopLft.slick-initialized > li{
    	display: block !important;
    } 
	#HmGalleryItemTopLft.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	#HmGalleryItemTopLft .slick-dots {
		position: static;
		margin-top: 25px;
		margin-bottom: 5px;
	}
	#HmGalleryItemTopLft .slick-dots li{
		background-image: url(../images/gray-pagi.svg);
		background-size: 14px 14px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#HmGalleryItemTopLft .slick-dots li{
		clear: none!important;
	}
	#HmGalleryItemTopLft .slick-dots li,
	#HmGalleryItemTopLft .slick-dots li button,
	#HmGalleryItemTopLft .slick-dots li button:before{
		width: 14px;
		height: 14px;
		padding: 0;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#HmGalleryItemTopLft .slick-dots li button:before{
		content: "";
	}
	#HmGalleryItemTopLft .slick-dots li:hover{
		background-image: url(../images/gray-pagi.svg);
	}
	#HmGalleryItemTopLft .slick-dots li.slick-active{
		background-image: url(../images/orange-pagi-active.svg);
		background-size: 14px 14px;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 10px;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	.hm-gallery-post-sec-wrp {
	    padding-top: 30px;
	}
	.hm-enti-hdr-dsc h1 {
	    margin-bottom: 10px;
	    font-size: 33px;
	    line-height: 35px;
	}
	.hm-enti-hdr-dsc p{
		line-height: 26px;
	}
	.hm-enti-hdr-dsc {
	    max-width: 550px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.hm-gallery-item-top-lft {
	    width: 100%;
	    position: relative;
	    padding-left: 15px;
	    padding-right: 15px;
	    max-width: 530px;
	    margin: 0 auto !important;
	    float: none;
	}
	.hm-gallery-top-lft-img {
	    height: 280px !important;
	}
	a.hm-gallery-small-btn {
	    font-size: 18px;
	    line-height: 20px;
	    padding-right: 30px;
	    left: 30px;
	    bottom: 30px;
	}
	.hm-gallery-item-top-wrp {
	    padding-bottom: 40px;
	    margin-left: -15px;
	    margin-right: -15px;
	}
/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
	.HmGalleryItem .leftArrow,
	.HmGalleryItem .rightArrow {
		display: block;
		height: 17px;
		width: 20px;
		cursor: pointer;
		color: #fff;
		text-align: center;
		z-index: 5;
		background-size: 20px 17px;
		bottom: 3px;
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.HmGalleryItem .leftArrow{
		position: absolute;
		left:15px;
		background: url(../images/leftArrow.svg);
		background-repeat: no-repeat;
	}
	.HmGalleryItem .rightArrow{
		position: absolute;
		right:15px;	
		background: url(../images/rightArrow.svg);
		background-repeat: no-repeat;
	}
	.HmGalleryItem .leftArrow:hover{
		background: url(../images/leftArrow-hover.svg);
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.HmGalleryItem .rightArrow:hover{
		background: url(../images/rightArrow-hover.svg);
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.hm-gallery-item-top-lft ul{
		margin: 0;
	}
	.hm-gallery-item-top-lft ul li{
		padding: 0;
	}
	.hm-gallery-middel-btn {
	    padding: 30px 15px 30px 15px;
	}
	.hm-gallery-middel-btn a:after{
		content: none;
	}
	.hm-gallery-middel-btn a {
	    font-size: 15px;
	    line-height: 18px;
	}
	#HmGalleryBtmLft .hm-gallery-btm-lft-item{
    	display: none !important;
    } 
    #HmGalleryBtmLft .hm-gallery-btm-lft-item:first-child{
    	display: block !important;
    } 
    #HmGalleryBtmLft.slick-initialized .hm-gallery-btm-lft-item{
    	display: block !important;
    } 
	#HmGalleryBtmLft.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	#HmGalleryBtmLft .slick-dots {
		position: static;
		margin-top: 25px;
		margin-bottom: 5px;
	}
	#HmGalleryBtmLft .slick-dots li{
		background-image: url(../images/gray-pagi.svg);
		background-size: 14px 14px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#HmGalleryBtmLft .slick-dots li{
		clear: none!important;
	}
	#HmGalleryBtmLft .slick-dots li,
	#HmGalleryBtmLft .slick-dots li button,
	#HmGalleryBtmLft .slick-dots li button:before{
		width: 14px;
		height: 14px;
		padding: 0;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#HmGalleryBtmLft .slick-dots li button:before{
		content: "";
	}
	#HmGalleryBtmLft .slick-dots li:hover{
		background-image: url(../images/gray-pagi.svg);
	}
	#HmGalleryBtmLft ul.slick-dots li.slick-active{
		background-image: url(../images/orange-pagi-active.svg);
		background-size: 14px 14px;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 10px;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.hm-gallery-btm-lft-img {
	    height: 700px !important;
	}
	.hm-gallery-middel-btn a {
	    font-size: 18px;
	    line-height: 20px;
	    padding-right: 0;
	    text-align: center;
	}
	.hm-gallery-btm-sec-wrp {
	    padding-bottom: 65px;
	}
	.hm-single-post-sec-wrp {
	    padding-bottom: 35px;
	    padding-top: 35px;
	}
	.hm-post-title h3{
		margin-bottom: 30px;
	}
	.hm-catagory-innr:hover span:first-of-type{
		display: none;
	}
	.hm-catagory-innr:hover span:last-of-type{
		display: block;
	}
	.hm-catagory-innr:hover h5 a {
	    color:#eb1c23;
	}



	
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.hm-catagorys-sec-wrp {
	    padding-left: 24px;
	    padding-right: 24px;
	}
	.hm-enti-hdr-dsc h1 {
	    font-size: 30px;
	    line-height: 32px;
	}
	.hm-single-post-wrp ul li {
	    width: 100%;
	    padding: 11px 11px;
	}
	.hm-single-post-sec-wrp .hm-single-post-img-item {
	    background: #FFFFFF;
	    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	    padding: 24px 20px;
	}
	.hm-single-post-sec-wrp .hm-single-post-img-item a.overlay-link{
		position: static;
		display: none;
	}
	.hm-single-post-img{
		display: none;
	}
	.hm-gallery-top-lft-item a.overlay-link{
		display: none !important;
	}
	.hm-post-title h3 {
	    font-size: 30px;
	    line-height: 40px;
	    padding-left: 0;
	    text-align: center;
	}
	.hm-post-title h3:after{
		display: none;
	}
	a.hm-gallery-single-small-btn {
	    color: #0C1421 !important;
	    position: static !important;
	    font-size: 18px !important;
	    line-height: 20px !important;
	    display: table;
	    margin: 0 auto;
	    background: url(../images/xs-single-brn-arry.svg);
	    background-repeat: no-repeat;
	    background-size: 20px 17px;
	    background-position:top 2px right 5px;
	    padding-right: 35px;
	}
	a.hm-gallery-single-small-btn:hover{
		background: url(../images/xs-single-brn-arry-orange-h.svg);
		background-position: right 0px top 2px;
		background-repeat: no-repeat;
	    background-size: 20px 17px;
	}
	a.hm-gallery-single-small-btn:after{
		content: none;
	}
	.hm-gallery-btm-img-inr,
	.hm-gallery-top-img-wrp{
		display: none;
	}
	/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/	.HmGalleryBtmPagi .rightArrow,
	.HmGalleryBtmPagi .leftArrow{
		z-index: 5;
		background-size: 20px 17px;
		bottom: 3px;
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.HmGalleryBtmPagi .leftArrow{
		position: absolute;
		left:0;
		background: url(../images/leftArrow.svg);
		background-repeat: no-repeat;
	}
	.HmGalleryBtmPagi .rightArrow{
		position: absolute;
		right:0;	
		background: url(../images/rightArrow.svg);
		background-repeat: no-repeat;
	}
	.HmGalleryBtmPagi .leftArrow,
	.HmGalleryBtmPagi .rightArrow {
		display: block;
		height: 17px;
		width: 20px;
		cursor: pointer;
		color: #fff;
		text-align: center;
	}
	.HmGalleryBtmPagi .leftArrow:hover{
		background: url(../images/leftArrow-hover.svg);
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.HmGalleryBtmPagi .rightArrow:hover{
		background: url(../images/rightArrow-hover.svg);
		-ms-transform: all 0.5s;
		-webkit-transform: all 0.5s;
		transform: all 0.5s;
	}
	.hm-gallery-btm-lft {
	    margin-bottom: 0;
	}
	.hm-post-title h3 strong {
	    display: block;
	}
	a.hm-gallery-btm-lft-btn {
	    font-size: 30px;
	    line-height: 34px;
	    padding: 12px 12px;
	    bottom: 30px;
	    left: 30px;
	}
	.hm-gallery-btm-lft-item{
		display: block;
	}
	.hm-gallery-btm-lft-img {
	    height: 500px !important;
	}

	
}


@media(max-width: 479px){
	.hm-catagory-dsc h5 {
	    font-size: 18px;
	    line-height: 20px;
	    margin-top: 3px;
	}
	a.hm-gallery-btm-lft-btn {
	    font-size: 28px;
	    line-height: 32px;
	    left: 0;
	}
	.hm-post-title h3 {
	    font-size: 28px;
	    line-height: 34px;
	}
	.hm-gallery-middel-btn a {
	    font-size: 16px;
	    line-height: 18px;
	    padding-right: 0;
	    text-align: center;
	}

}



@media(max-width: 359px){

}